
@font-face {
	font-family: 'Bebas Neue';
	src: url('BebasNeueBold.eot');
	src: local('Bebas Neue Bold'), local('BebasNeueBold'),
		url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('BebasNeueBold.woff') format('woff'),
		url('BebasNeueBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Bebas Neue';
	src: url('BebasNeueBook.eot');
	src: local('Bebas Neue Book'), local('BebasNeueBook'),
		url('BebasNeueBook.eot?#iefix') format('embedded-opentype'),
		url('BebasNeueBook.woff') format('woff'),
		url('BebasNeueBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-Bold.eot');
	src: local('Myriad Pro Bold'), local('MyriadPro-Bold'),
		url('MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-Bold.woff') format('woff'),
		url('MyriadPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-Semibold.eot');
	src: local('Myriad Pro Semibold'), local('MyriadPro-Semibold'),
		url('MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-Semibold.woff') format('woff'),
		url('MyriadPro-Semibold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-Regular.eot');
	src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
		url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-Regular.woff') format('woff'),
		url('MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}